@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800 &family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");

/* variables*/
:root {
    --font-1: "Nova Round", cursive;
    --font-2: "Dosis", sans-serif;
    --font-3: "Josefin Sans", serif;
    --color-1: #040220;
    --color-11: #022c58;
    --color-2: #0518ec;
    --color-3: rgba(170, 187, 167, 0.829);
    --color-5: #36d0ea;
    --color-4: #dfe7e6;
    --color-6: rgba(17, 53, 77, 0.493);
    --color-7: #4fedd385;
    --white: #ddd;
    --white2: rgba(10, 9, 9, 0.884);
    --black: #333;
    --borderRadius: 25px;
    --shadow: 0 1px 3px #333;
    --minHeight: 95vh;
    font-size: 16px;
}

/* reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    overflow: hidden;
}

#root {
    height: 100vh;
}

.dm>p {
    display: none;
}

.profil {
    display: none;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

a:visited {
    color: var(--black);
}

/*média mobile*/
@media (max-width: 768px) {
    .main {
        height: 100%;
    }

    .Knowledges,
    .portfolio {
        display: none;
    }

    .homeContent {
        display: flex;
        flex-flow: column nowrap;
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        height: 100%;
    }

    .homeContent_item {
        flex: 0 1 50%;
    }

    .profil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content_img {
        width: 70%;
    }

    .content_img>img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 0 4px var(--color-3), 0 0 0 8px var(--color-5),
            0 0 0 12px var(--color-2);
    }

    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-family: var(--font-1);
        padding: 0 5%;
    }

    .content>h1 {
        text-align: center;
        font-size: 2rem;
        font-family: var(--font-3);
        color: var(--color-5);
        text-transform: uppercase;
    }

    .content>h2 {
        font-size: 1.7rem;
        color: var(--color-3);
        text-shadow: var(--color-11) 2px 5px;
    }

    .dm {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-top: 5%;
        color: var(--color-3);
    }

    .dm>p {
        display: block;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        text-shadow: var(--color-11) 2px 5px;
    }

    .pdf {
        margin: 50px 0 0 0;
    }

    .pdf>a {
        color: var(--white);
        font-size: 1.5rem;
        background: var(--color-6);
        padding: 1rem 2rem;
        border-radius: var(--borderRadius);
        box-shadow: 0 3px 1px rgb(15, 15, 15);
        transition: 0.2s ease;
    }

    .sidebar {
        display: none;
    }
}

/* media tabltte */
@media (min-width: 768px) and (max-width: 992px) {
    .main {
        height: 100%;
    }

    .Knowledges,
    .portfolio {
        display: none;
    }

    .homeContent {
        display: flex;
        flex-flow: column nowrap;
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        height: 100%;
        padding: 7% 2%;
    }

    .homeContent_item {
        flex: 0 1 50%;
    }

    .profil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content_img {
        width: 60%;
    }

    .content_img>img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 0 4px var(--color-3), 0 0 0 8px var(--color-5),
            0 0 0 12px var(--color-2);
    }

    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--font-1);
        padding: 7% 2%;
    }

    .content>h1 {
        text-align: center;
        font-size: 2.5rem;
        font-family: var(--font-3);
        color: var(--color-5);
        text-transform: uppercase;
    }

    .content>h2 {
        font-size: 2rem;
        color: var(--color-3);
        text-shadow: var(--color-11) 2px 5px;
    }

    .dm {
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: var(--color-3);
        padding: 0% 10%;
    }

    .dm>p {
        display: block;
        font-size: 2rem;
        width: 100%;
        text-align: center;
        text-shadow: var(--color-11) 2px 5px;
    }

    .pdf {
        margin: 10% 0 0 0;
    }

    .pdf>a {
        color: var(--white);
        font-size: 2.3rem;
        background: var(--color-6);
        padding: 1rem 2rem;
        border-radius: var(--borderRadius);
        box-shadow: 0 3px 1px rgb(15, 15, 15);
        transition: 0.2s ease;
    }

    .sidebar {
        display: none;
    }
}

/* bureau */

@media (min-width: 992px) {
    #root {
        /* margin: 1rem auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--black);
    }


    .main {
        display: flex;
        gap: 0.3rem;
        height: var(--minHeight);
        width: 98%;
        min-width: 1336px;
    }

    .main_item {
        flex-flow: 0 1 0;
    }



    .main_item:nth-child(1) {
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        font-family: var(--font-1);
        height: 100%;
        width: 18%;
        overflow: hidden;
        padding: 0 1%;
        border-radius: var(--borderRadius);
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: "1""2""3";
    }

    .content_profil {
        /* border: 1px solid red; */
        grid-area: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        /* align-items: center; */
    }


    .content_img {
        text-align: center;
    }

    .content_img>img {
        width: 60%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 0 4px var(--color-3), 0 0 0 8px var(--color-5),
            0 0 0 12px var(--color-2);
    }

    .navigation {
        grid-area: 2;
        /* border: 1px solid red; */

    }

    .navigation>ul {
        /* border: 1px solid red; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        /* align-items: center; */
    }

    .navigation>ul li {
        width: 85%;
        /* border: 1px solid red; */
        font-size: 1.3rem;
        position: relative;
        /* display: flex; */
        /* flex-flow: row nowrap; */
    }

    .navigation>ul li .nav-link {
        color: var(--color-7);
    }

    .navigation>ul li:hover .nav-link {
        color: #fff;
    }

    .navigation>ul li:hover .icon {
        transform: translate(3px, 3px);
        color: #fff;

    }

    .navigation>ul li .nav-active {

        color: var(--color-1);
    }

    .icon {
        color: var(--color-7);
        margin-right: 10%;

    }

    .socialNetwork {
        grid-area: 3;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        /* border: 1px solid red; */
    }

    .socialNetwork>ul {
        display: flex;
        justify-content: space-around;
        /* border: 1px solid red; */
    }

    .ico_social {
        font-size: 150%;
    }

    .signature {
        color: #fff;
        /* border: 1px solid red; */
        text-align: center;
    }

    .signature>p {
        margin-top: 2rem;
        letter-spacing: 0.1rem;
        font-size: 0.80rem;
    }

    /* les icones */

    .github {
        color: #fff;
    }

    .main_item:nth-child(2) {
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        position: relative;
        width: 82%;
        height: 100%;
        /* border: 1px solid red; */
        border-radius: var(--borderRadius);
        overflow: hidden;
        /* z-index: 0; */
    }

    .content {
        /* background: linear-gradient(60deg, $color-1 50%, transparent 100%) !important; */
        /* border: 2px solid yellowgreen;        */
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }

    .content>h1 {
        font-size: 3rem;
        font-family: var(--font-3);
        color: var(--color-5);
        text-transform: uppercase;
        text-shadow: 3px 6px 2px var(--black);
    }

    .content>h2 {
        font-size: 2rem;
        padding: 1.5rem 0 3rem;
        color: var(--color-3);
        text-shadow: 1px 2px 5px var(--color-5);
    }

    .pdf {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .pdf>a {
        color: var(--white);
        font-size: 1.5rem;
        background: var(--color-6);
        padding: 1rem 2rem;
        border-radius: var(--borderRadius);
        box-shadow: 0 3px 1px rgb(15, 15, 15);
        transition: 0.2s ease;
    }

    .pdf>a:hover {
        background: var(--color-7);
        color: var(--color-1);
        box-shadow: 0 10px 1px rgb(15, 15, 15);
    }

    .KnowledgesContent {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 38% 1fr 1fr;
        gap: 10px;
        grid-template-rows: 50% 50%;
        grid-template-areas: "L E E""O O H";
    }

    .KnowledgesContent h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-family: var(--font-2);
        color: var(--color-2);
        text-transform: uppercase;
    }

    .experience,
    .otherSkills,
    .hobbies,
    .languagesFrameworks {
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        border-radius: var(--borderRadius);
        padding: 0.8rem;
        box-shadow: var(--shadow);
        overflow-x: hidden;
    }

    .languagesFrameworks {
        grid-area: L;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "L""F";
    }

    .languagesFrameworks::-webkit-scrollbar {
        display: none;
    }

    .languageDisplay {
        grid-area: L;
    }

    .frameworkDisplay>div>span:nth-child(2)::before,
    .frameworkDisplay>div>span:nth-child(3)::before,
    .languageDisplay>div>span:nth-child(2)::before,
    .languageDisplay>div>span:nth-child(3)::before {
        content: "";
        background: rgba(180, 179, 179, 0.507);
        position: absolute;
        height: 160px;
        width: 1px;
        transform: translate(9px, 19px);
    }

    .years {
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
        color: var(--white);
    }

    .years>span {
        width: 36%;
        position: relative;
    }

    .years>span:nth-child(2) {
        text-align: center;
        width: 20%;
    }

    .years>span:nth-child(3) {
        text-align: right;
        width: 44%;
    }

    .languagesList {
        padding-top: 0.5rem;
    }

    .languagesList li {
        color: var(--color-5);
    }

    .progressBar {
        height: 0.4rem;
        background: transparent;
        border-radius: 50px;
        margin-top: 0.5rem;
        position: relative;
    }

    .progressBar::after {
        content: "";
        position: absolute;
        background: var(--color-3);
        border-radius: 50px;
        height: 0.4rem;
        width: 0;
        animation: line 2s ease-out forwards;
    }

    @keyframes line {
        to {
            width: 100%;
        }
    }

    .frameworkDisplay {
        grid-area: F;
    }

    .frameworkDisplay>h3 {
        margin-top: 6%;
    }

    /* compétences expérience */

    .experience {
        grid-area: E;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 1fr;
        grid-template-areas: "1""2""3";
    }

    .experience>h3 {
        grid-area: 1;
    }

    .experience h4 {
        font-size: 1.1rem;
        color: var(--color-5);
    }

    .experience h5 {
        color: var(--color-3);
        padding: 0.5rem 0 0.5rem 1rem;
    }

    .experience p {
        text-align: justify;
        padding: 0 1rem;
        color: var(--white);
    }

    .exp-1 {
        grid-area: 2;
    }

    .exp-2 {
        grid-area: 3;
    }

    /* compétences autre competence */

    .otherSkills {
        grid-area: O;
        color: var(--color-4);
        /* border: 1px solid red; */
    }

    .list {
        /* border: 1px solid red; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 80%;
        align-items: center;
        /* width: 100%; */
        /* margin: 0 auto; */
    }

    .list ul {
        width: 50%;
        /* border: 1px solid red; */
        height: 80%;
        display: grid;
    }

    .list>ul>li>.url {
        margin-right: 8%;
        /* position: absolute; */
        /* transform: translatex(2.2rem); */

        color: var(--color-5);
    }

    .hobbies {
        grid-area: H;
        /* border: 1px solid red; */
        /* padding-left: 1.5rem; */
    }

    .hobbies ul {
        /* border: 1px solid red; */
        height: 80%;
        display: flex;
        flex-flow: column;
        /* align-items: center; */
        justify-content: space-around;
    }

    .hobbies>ul>li>.i {
        position: absolute;
        color: var(--color-5);
    }

    .hobbies>ul>li>span {
        color: var(--color-4);
        position: absolute;
        margin-left: 1%;
        transform: translateX(2.2rem);
    }

    /* portfolio */

    .portfolioContent {
        padding: 10px 10px;
        width: 100%;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "1"
            "2";
    }

    .radioDisplay {
        grid-area: 1;
        border-radius: var(--borderRadius);
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        /* padding: 0.5rem 0.5rem; */
        background: radial-gradient(var(--color-11) 80%, var(--color-1) 100%);
        user-select: none;
        box-shadow: var(--shadow);
    }

    .radioDisplay li {
        color: var(--color-3);
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0 5rem;
        /* flex: 0; */
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="radio"] {
        visibility: hidden;
        position: relative;
    }

    input[type="radio"]::before {
        content: "";
        visibility: visible;
        position: absolute;
        top: -4px;
        left: -12px;
        height: 0.9rem;
        width: 0.9rem;
        border-radius: 50%;
        border: 2px solid var(--color-4);
        cursor: pointer;
        transition: 0.3s;
    }

    input[type="radio"]::after {
        content: "";
        visibility: visible;
        position: absolute;
        top: -4px;
        left: -12px;
        height: 0.9rem;
        width: 0.9rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        background: var(--color-4);
        transform: scale(0);
        transform-origin: center;
    }

    input:checked:after {
        transform: scale(1.17) translate(-25%, -25%);
        top: 2px;
        left: -6px;
    }

    input:checked+label {
        color: var(--color-4);
    }

    label {
        cursor: pointer;
    }

    .projects {
        grid-area: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 2%;
        justify-content: space-around;
    }

    .project {
        background: var(--color-2);
        border-radius: var(--borderRadius);
        /* margin: 0.5rem 0 0 0; */
        text-align: center;
        /* border: 1px solid red; */
        width: 32%;
        height: 45%;
        /* padding: 0.3rem; */
        box-shadow: var(--shadow);
        display: grid;
        grid-template-rows: 15% 15% 55% 15%;
        grid-template-areas:
            "1"
            "2"
            "3"
            "4";
    }

    .icons {
        /* border: 1px solid red; */
        grid-area: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icons .iprojet {
        font-size: 1.9rem;
        padding: 0 0.35rem;
        color: var(--color-1);
        text-shadow: 0 0px 1px var(--color-1);
    }

    .project h3 {
        grid-area: 2;
        font-family: var(--font-2);
        font-size: 1.5rem;
        display: flex;
        color: var(--color-11);
        justify-content: center;
        align-items: center;
    }

    .project img:hover {
        transform: scale(1.5);
        grid-area: 3;
        object-fit: contain;
        margin: 0 auto;
        /* width: 95%;
        height: 85%; */
        /* box-shadow: 0 2px 6px #333; */
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .project img {
        grid-area: 3;
        object-fit: cover;
        margin: 0 auto;
        width: 95%;
        height: 85%;
        box-shadow: 0 2px 6px #333;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

    }

    .infos {
        /* border: 1px solid red; */
        grid-area: 4;
        width: 10%;
        margin: auto;
        color: var(--color-4);
        cursor: pointer;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }

    .infos:hover {
        transform: scale(1.5);
    }

    .showInfos {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.507);
        animation: popup 0.3s ease forwards;
        transform-origin: center;
    }

    .infosContent {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        color: var(--color-5);
        background: var(--color-1);
        border-radius: var(--borderRadius);
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 0.6s ease forwards;
        transform: scale(0);
        transform-origin: center;
    }

    @keyframes popup {
        to {
            transform: scale(1);
        }
    }

    /* head {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  } */

    h2 {
        text-align: left;
        margin-bottom: 1rem;
    }

    .button {
        cursor: pointer;
        color: var(--color-1);
        background: var(--color-5);
        border-radius: var(--borderRadius);
        padding: 1rem;
        transition: 0.2s;
    }

    .button:hover {
        background: var(--color-4);
    }

    .text {
        text-align: justify;
        padding-bottom: 1rem;
    }

    .return {
        margin: 1rem auto;
        width: 200px;
    }
}