.home {
  .homeContent {
    // border: 1px solid red;
    text-align: center;
    color: $color-5;
    border-radius: $borderRadius;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, $color-11 70%, transparent 100%);
    width: 100%;
    height: 100%;
    padding: 1% 1%;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      height: inherit;
      width: inherit;
      background-position: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../../medias/bg_1.jpg");
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      filter: brightness(30%);
    }

    .presentation {
      h1 {
        font-size: 3rem;
        font-family: $font-3;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px $black;
      }
      h2 {
        font-size: 1.7rem;
        text-shadow: 3px 6px 2px $black;
      }
    }

    .dm {
      display: none;
    }

    div.pdf {
      margin-top: 3rem;
    }

    // div {
    //   border: 1px solid red;
    // }
  }
}
